<div class="notive-div"><p id="notice"><%= notice %></p></div>

<div class="reading-list-name-div"><h1><%= @reading_list.name %></h1></div>

<% @books.each do |book| %>
    
<% end %>

<table>
    <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
        <% @books.each do |book| %>
        <tr>
            <td><a href="<%= book_path(book) %>"> <img src="<%= book.image_url %>"> </a></td>
            <td align="center"><h3><%= link_to book.title, book %></h3></td>
        </tr>
        <% end %>
    </tbody>
</table>

<% if @reading_list.deletable && @reading_list.user == current_user %>
    <%= link_to "Delete this reading list", delete_reading_list_path, method: :delete%>
<% end %>