<head>
  <link rel="stylesheet" href="assets/stylesheets/users.scss" type="text/scss">
</head>

<body>
<div class="reading-list-notice"><p id="notice"><%= notice %></p></div>

<div class="show-title-div"><h1><%="Your" if current_user == @user%> Reading Lists</h1></div>
<br>

<% @user.reading_lists.each do |reading_list| %>
    <div class= reading-list-container-div>
        <div class="reading-list-name-div"><h3><%= link_to reading_list.name, reading_list %></h3></div>
        <% reading_list.books.each do |book| %>
            <div class="book-image-div">
                <a href="<%= book_path(book) %>"> <img src="<%= book.image_url %>"></a>
            </div>
        <% end %>
    </div>
<br>
<br>
<% end %>

<div class="new-reading-list-div"><%= link_to "Create new reading list", new_reading_list_path %></div>
<div><%= link_to "See other reading lists", users_path %> </div>

</body>