<p id="notice"><%= notice %></p>

<h1>Welcome <%= @user.username %></h1>

<% @user.reading_lists.each do |reading_list| %>
    <p><%= link_to reading_list.name, reading_list %></p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
