<h1>Search Results</h1>

<p><%= @message %></p>
<% @books.each do |book| %>
  <div class="book-container-div">
   <span class="book-image-span"><img src="<%= book["image_url"] %>"></span>
      <span class="book-info-span"><%= book["title"]%>
      <%= book["authors"]%>
      <%= book["categories"] %>

    <%= form_tag select_book_path(book) do %>
      <% hidden_field_tag :'book[google_id]', book['google_id'] %>
      <% hidden_field_tag :'book[title]', book['title'] %>
      <% hidden_field_tag :'book[subtitle]', book['subtitle'] %>
      <% hidden_field_tag :'book[authors]', book['authors'] %>
      <% hidden_field_tag :'book[categories]', book['categories'] %>
      <% hidden_field_tag :'book[description]', book['description'] %>
      <% hidden_field_tag :'book[language]', book['language'] %>
      <% hidden_field_tag :'book[image_url]', book['image_url'] %>
      <% hidden_field_tag :'book[published_date]', book['published_date'] %>
      <% hidden_field_tag :'book[page_count]', book['page_count'] %>
      <% hidden_field_tag :'book[google_average_rating]', book['google_average_rating'] %>
      <% hidden_field_tag :'book[rating_count]', book['rating_count'] %>
      <%= submit_tag "Show book" %> </td></span>
    <% end %> 
  </div>
<% end %>

