<p id="notice"><%= notice %></p>

<h1><%= @book.title %></h1>
<h2><%= @book.subtitle %></h2>
<h3>by <%= @book.authors %></h3>
<p><img src="<%= @book.image_url %>"></p>
<p><%= @book.description %></p>
<p><%= @book.language %></p>
<p><%= @book.published_date %></p>
<p>Page count: <%= @book.page_count %></p>


<%= form_tag add_book_path do %>
    <%= hidden_field_tag :book_id, @book.id %>
    <%= select_tag :reading_list_id , options_for_select(@reading_lists.map{|r| [r.name, r.id]}) %>

    <%= submit_tag "Add" %>
<% end %>

<br> <br>

<% @reviews.first(5).each do |review| %>
    <h2><%= review.title %> | <%= review.user.username %></h2>
    <p><strong>Rating: <%= review.rating %>/5</strong></p>
    <p><%= review.content %></p>
    <% if review.user_id == current_user.id %>
      <%= link_to "Edit", edit_review_path(review) %>
      <%= button_to "Delete", review, method: "delete", data: { confirm: 'Are you sure?'} %>
    <% end %>
    <br> <br>
<% end %>

<% if current_user.finished_reading.books.include?(@book) %>
  <%= link_to "Add Review", new_review_path %>
<% end %>

