<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="actions">
    <%= form.hidden_field :book_id, :value => @book.id %>

    <%= form.label :title %>
    <%= form.text_field :title, required: true%> <br>

    <%= form.label :content %> 
    <%= form.text_area :content, required: true%> <br>

    <%= form.label :rating %>
    <%= form.number_field :rating, required: true%> <br> 

    <br>

    <%= form.submit %>
  </div>
<% end %>
