<!DOCTYPE html>
<html>
  <head>
    <title>ReadIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav align="center"><% if current_user %>
    <%= form_tag search_books_path do %>
      <%= select_tag(:search_id, options_for_select([['Title', 'intitle'], ["Author", "inauthor"], ["Subject", "subject"]])) %>
      <%= select_tag(:num_results_id, options_for_select([[10, 10], [25, 25], [40, 40]])) %>
      <%= text_field_tag :query %>
      <%= submit_tag "Search"%>
      <% end %>
    <% end %>
  </nav>
    
  <div align="left">
    <%= link_to "All Users", users_path %> |
    <%= link_to "All Books", books_path %> |
    <%= link_to "Reading Lists", reading_lists_path %>
  </div>
      
  <div align="right">
    <% if current_user %>
      <h4>Currently logged in as: <%= current_user.username %></h4>
      <%= link_to "Log Out", sessions_path, method: :delete %> |
      <%= link_to "Delete my Account", users_path, method: :delete %> | 
      <%= link_to "Home Page", user_path(current_user), method: :get%>
    
    <% else %>
      <%= link_to "Log In", new_session_path %>
    <% end %>
  </div>

    <%= yield %>
  </body>
  
</html>